<div class="scrollingtable">
  <div>
    <div>
      <table>
        
        <thead>
          <tr>
            <th><div label="Symbol"></div></th>
            <th><div label="Expiry"></div></th>
            <th><div label="Strike_Price"></div></th>
            <th><div label="Option_Type"></div></th>
            <th><div label="High"></div></th>
            <th><div label="Low"></div></th>
            <th><div label="Open"></div></th>
            <th><div label="Close"></div></th>
            <th><div label="Buy_Price"></div></th>
            <th><div label="Buy_Qty"></div></th>
            <th><div label="Sell_Price"></div></th>
            <th><div label="Sell_Qty"></div></th>
            <th><div label="LTP"></div></th>
            <th><div label="LTQ"></div></th>
            <th><div label="Buy_IV"></div></th>
            <th><div label="Sell_IV"></div></th>
            <th><div label="Market_Type"></div></th>
            <th><div label="Delta"></div></th>
            <th><div label="Gamma"></div></th>
            <th><div label="Vega"></div></th>
            <th><div label="Theta"></div></th>
            <th>
            
            </th>
            <th class="scrollbarhead"/> 
          </tr>
        </thead>
         <tbody class="yes" >
         
          <tr>
          
            <th class="CSS">Reliance</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

          </tr>
         
          <tr>

           <th class="CSS">HSBC</th>

           <td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td>

          </tr>
        
          <tr><th class="CSS">Wipro</th>

            <td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td>
          </tr>

          <tr><th class="CSS">Cipla</th>

            <td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
          <tr><th class="CSS">Kotak</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>   
          <tr><th class="CSS">Induslnd</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
         


 <tr><th class="CSS">Hindustan Unilever</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr><tr><th class="CSS">ITC Ltd.</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
          <tr><th class="CSS">Coal India</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
          <tr><th class="CSS">ONGC</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">HDFC</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Infosys</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Aditya Birla</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Wyeth</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Florence Investech</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Jolly Board</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Sulzer India Ltd.</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Dawn Mills Company</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Shreno Ltd.</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Rhodia Specialty Chemicals India Ltd.</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">ICICI</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">L&T</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">SBI</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Lupin</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>  
          <tr><th class="CSS">Ultratech Cement</th><td>18/10/2020</td><td>240</td><td>PUT</td><td>4</td><td>1</td><td>160</td><td>260</td><td>240</td><td>23</td><td>260</td><td>23</td><td>260</td><td>240</td><td>250</td><td>260</td><td>XYZ</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
          
        </tbody>
      </table>
   
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
     
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
<script>
 
    var abort;
    var play;
      function numbers(){
                            
                            if((abort||play)==true)
                            {
                             return;
                            }
                            
                         
                      
                          $('td').text(function()
                                 {
                                       var min = 100,
                                       max = 999;
                                       var rand = Math.floor(Math.random() * (max - min + 1) + min);               
                                       return rand;
                                 });
                             setTimeout(numbers, 500);
                           
                           }
                        
</script>


    <style>
       th.CSS{
              color: white;
            /*  border: 1px solid black;  */
              background: cornflowerblue;
             }
       thead.CSS1{
                   border: 1px solid black;
               }
    </style>
<style>

  script.randomcolor{
    background-color: red;
  }

</style>

<!-- CSS Code -->
<style>    
        /*the following html and body rule sets are required only if using a % width or height*/
html {
width: 100%;
height: 100%;
}
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 20px 0 20px;
  text-align: center;
  background: white;
}
.scrollingtable {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 600px; /*if you want a fixed width, set it here, else set to auto*/
  min-width: 0/*100%*/; /*if you want a % width, set it here, else set to 0*/
  height: 600px/*100%*/; /*set table height here; can be fixed value or %*/
  overflow:scroll;
  overflow-x: scroll;

  min-height: 0/*104px*/; /*if using % height, make this large enough to fit scrollbar arrows + caption + thead*/
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding: 20px 0 20px 0; /*need enough padding to make room for caption*/
  text-align: left;
}
.scrollingtable * {box-sizing: border-box;}
.scrollingtable > div {
  position: relative;
  border-top: 1px solid black;
  height: 100%;
  padding-top: 20px; /*this determines column header height*/
}
.scrollingtable div div table thead div{
  background: cornflowerblue;
}
.scrollingtable > div:before {
  top: 0;
  background: cornflowerblue; /*header row background color*/
}
.scrollingtable > div:before,
.scrollingtable > div > div:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  background
}
.scrollingtable > div > div {
  min-height: 0/*43px*/; /*if using % height, make this large enough to fit scrollbar arrows*/
  max-height: 100%;
  /*overflow: scroll/*auto*/; /*set to auto if using fixed or % width; else scroll*/
  /*overflow-x: scroll;*/
  border: 1px solid black; /*border around table body*/
}
.scrollingtable > div > div:after {background: white;} /*match page background color*/
.scrollingtable > div > div > table {
  width: 100%;
  border-spacing: 0;
  margin-top: -20px; /*inverse of column header height*/
  /*margin-right: 17px;*/ /*uncomment if using % width*/
}
.scrollingtable > div > div > table > caption {
  position: absolute;
  top: -20px; /*inverse of caption height*/
  margin-top: -1px; /*inverse of border-width*/
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.scrollingtable > div > div > table > * > tr > * {padding: 0;}
.scrollingtable > div > div > table > thead {
  vertical-align: bottom;
  white-space: nowrap;
  text-align: center;
}
.scrollingtable > div > div > table > thead > tr > * > div {
  display: inline-block;
  padding: 0 6px 0 6px; /*header cell padding*/
}
.scrollingtable > div > div > table > thead > tr > :first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /*match column header height*/
  border-left: 1px solid black; /*leftmost header border*/
}
.scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.scrollingtable > div > div > table > thead > tr > * > div > div:first-child,
.scrollingtable > div > div > table > thead > tr > * + :before {
  position: absolute;
  top: 0;
  white-space: pre-wrap;
  color: white; /*header row font color*/
}
.scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.scrollingtable > div > div > table > thead > tr > * > div[label]:after {content: attr(label);}
.scrollingtable > div > div > table > thead > tr > * + :before {
  content: "";
  display: block;
  min-height: 20px; /*match column header height*/
  padding-top: 1px;
  border-left: 1px solid black; /*borders between header cells*/
}
.scrollingtable .scrollbarhead {float: right;}
.scrollingtable .scrollbarhead:before {
  position: absolute;
  width: 100px;
  top: -1px; /*inverse border-width*/
  background: white; /*match page background color*/
}
.scrollingtable > div > div > table > tbody > tr:after {
  content: "";
  display: table-cell;
  position: relative;
  padding: 0;
  border-top: 1px solid black;
  top: -1px; /*inverse of border width*/
}
.scrollingtable > div > div > table > tbody {vertical-align: top;}
.scrollingtable > div > div > table > tbody > tr {background: white;}
.scrollingtable > div > div > table > tbody > tr > * {
  border-bottom: 1px solid black;
  padding: 0 6px 0 6px;
  height: 20px; /*match column header height*/
}
.scrollingtable > div > div > table > tbody:last-of-type > tr:last-child > * {border-bottom: none;}
.scrollingtable > div > div > table > tbody > tr:nth-child(even) {background: gainsboro;} /*alternate row color*/
.scrollingtable > div > div > table > tbody > tr > * + * {border-left: 1px solid black;} /*borders between body cells*/
      </style>
    </div>
  </div>
</div>
<!--[if lte IE 9]><style>.scrollingtable > div > div > table {margin-right: 17px;}</style><![endif]-->


<button style="height: 27px;width: 80px" onclick="numbers()"> Get No </button>
<button style="height: 27px;width: 80px" onclick="print()">Print Table</button>
<button style="height: 27px;width: 80px" onclick="abort=true">Pause</button>



<script>

  function print(){
  }



